<div class="container">
  <div class="col-8 m-auto bg-light p-4">
    <h1 class="text-center">Cadastro de Produtos</h1>

    <form [formGroup]="formGroupProduct">
      <div class="row">
        <div class="mb-3 col-12">
          <label for="name" class="form-label">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name"/>
        </div>
      </div>

      <div class="row">
        <div class="mb-3">
          <label for="description" class="form-label">Descrição</label>
          <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-6">
          <label for="price" class="form-label">Preço</label>
          <input type="number" class="form-control" id="price" formControlName="price"/>
        </div>
        <div class="mb-3 col-6">
          <label for="amount" class="form-label">Quantidade</label>
          <input type="number" class="form-control" id="amount" formControlName="amount"/>
        </div>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary" (click)="save()">Salvar</button>
      </div>
    </form>

    <table class="table table-striped mt-5">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th scope="row">{{ product.id }}</th>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.amount }}</td>
          <td class="d-flex gap-2 justidy-content-end">
            <button class="btn btn-primary" (click)="edit(product)">Alterar</button>
            <button class="btn btn-danger" (click)="delete(product)">Remover</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
